# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin123

# PostgreSQL (пока не используется)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=telegram_bots

# Telegram
TELEGRAM_BOT_TOKEN=7664086576:AAFrkAAnn-E1BQ_OoFtj9HeRgj4kc80QY8A

# Логирование
LOG_LEVEL=INFO